* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    height: 100%;
    width: 100%;
}

body {
    background-color: rgb(54, 57, 74);
}

nav {
    display: flex;
    padding: 30px 60px;
    justify-content: space-between;
    color: white;
    font-size: 16px;
    font-weight: 400;
    align-items: center;
    font-family: 'Montserrat', sans-serif;

    .brand {
        display: flex;
        gap: 11px;

        .dumble-img {
            height: 2.3rem;
            width: 2.3rem;
        }

        p {
            font-size: 29px;
        }
    }


    .menu {
        display: flex;
        gap: 3.5rem;
        align-items: center;
        font-family: 'Montserrat', sans-serif;

        p {
            margin: 0;
        }
    }

    .Info {
        display: flex;
        gap: 25px;
        align-items: center;

        button {
            background-color: rgba(245, 169, 133);
            padding: 10px 15px;
            font-size: medium;
            border: none;
            border-radius: 50px;
            display: inline-block;
            line-height: 1;
            font-size: 1.1rem;
            font-size: bold;
            font-family: 'Outfit', sans-serif;
        }
    }


}

.line {
    height: 1px;
    width: 100%;
    ;
    background: linear-gradient(to right, grey, rgb(66, 66, 110));
}