* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  width: 100%;
}

body {
  background-color: rgb(54, 57, 74);
}

nav {
  display: flex;
  padding: 30px 60px;
  justify-content: space-between;
  color: white;
  font-size: 16px;
  font-weight: 400;
  align-items: center;
  font-family: "Montserrat", sans-serif;
}
nav .brand {
  display: flex;
  gap: 11px;
}
nav .brand .dumble-img {
  height: 2.3rem;
  width: 2.3rem;
}
nav .brand p {
  font-size: 29px;
}
nav .menu {
  display: flex;
  gap: 3.5rem;
  align-items: center;
  font-family: "Montserrat", sans-serif;
}
nav .menu p {
  margin: 0;
}
nav .Info {
  display: flex;
  gap: 25px;
  align-items: center;
}
nav .Info button {
  background-color: rgb(245, 169, 133);
  padding: 10px 15px;
  font-size: medium;
  border: none;
  border-radius: 50px;
  display: inline-block;
  line-height: 1;
  font-weight: 500;
  font-family: "Outfit", sans-serif;
}

.line {
  height: 1px;
  width: 100%;
  background: linear-gradient(to right, grey, rgb(66, 66, 110));
  margin-bottom: 2rem;
}

main {
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}
main .main-heading-line {
  color: rgba(255, 255, 255, 0.858);
  font-size: 5rem;
  font-weight: 700;
  font-family: "Josefin Sans", sans-serif;
}
main p {
  font-family: "Antic", sans-serif;
  color: rgba(255, 255, 255, 0.562);
  font-size: 1.3rem;
}
main .main-btn {
  display: flex;
  gap: 1rem;
  margin-bottom: 7rem;
}
main .main-btn .trail-btn {
  background-color: rgb(245, 169, 133);
  padding: 12px 20px;
  font-size: medium;
  border: none;
  border-radius: 50px;
  display: inline-block;
  line-height: 1;
  font-size: 1.2rem;
  font-family: "Outfit", sans-serif;
}
main .main-btn .demo-btn {
  color: white;
  border-color: rgb(255, 255, 255);
  border-width: 0.1rem;
  padding: 12px 20px;
  border-radius: 50px;
  background-color: rgb(54, 57, 74);
  display: inline-block;
  line-height: 1;
  font-size: 1.2rem;
  font-weight: 300;
  font-family: "Outfit", sans-serif;
}
main .hero-circle {
  position: relative;
  background-color: rgb(34, 45, 65);
  width: 650px;
  height: 325px;
  border-top-left-radius: 325px;
  border-top-right-radius: 325px;
  position: relative;
  overflow: visible;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
main .hero-circle .line-circle {
  border: 1.5px solid rgba(128, 128, 128, 0.396);
  width: 750px;
  height: 375px;
  border-top-left-radius: 375px;
  border-top-right-radius: 375px;
  position: absolute;
  z-index: -1;
  bottom: 0%;
  left: 50%;
  transform: translateX(-50%);
  border-bottom: none;
}
main .hero-circle .dashed-circle {
  border: 2.5px dashed rgba(128, 128, 128, 0.396);
  width: 850px;
  height: 425px;
  border-top-left-radius: 425px;
  border-top-right-radius: 425px;
  position: absolute;
  z-index: -2;
  bottom: 0%;
  left: 50%;
  transform: translateX(-50%);
  border-bottom: none;
}
main .hero-circle .gym-boy {
  margin-top: -5rem;
  height: 29rem;
  width: 35rem;
  -o-object-fit: cover;
     object-fit: cover;
  position: absolute;
  z-index: 3;
  transform: rotate(5deg);
}
main .hero-circle .calorie-box-left {
  position: absolute;
  left: -60%;
  top: -30%;
}
main .hero-circle .calorie-box-left .top-box-left {
  transition: all 0.3s ease;
  cursor: pointer;
}
main .hero-circle .calorie-box-left .top-box-left .main-txt,
main .hero-circle .calorie-box-left .top-box-left .dumble-img,
main .hero-circle .calorie-box-left .top-box-left .offer-txt {
  transition: all 0.3s ease;
}
main .hero-circle .calorie-box-left .top-box-left:hover {
  background-color: rgba(230, 230, 230, 0.121);
  transform: scale(1.05);
  box-shadow: 0 0 15px orange;
}
main .hero-circle .calorie-box-left .top-box-left:hover .num-kg {
  color: white;
}
main .hero-circle .calorie-box-left .top-box-left:hover .calorie-txt .left .main-txt {
  color: white;
}
main .hero-circle .calorie-box-left .top-box-left:hover .calorie-txt .left .offer-txt {
  background-color: orange;
}
main .hero-circle .calorie-box-left .top-box-left:hover .calorie-dumb-img .dumble-img {
  transform: scale(1.1);
}
main .hero-circle .calorie-box-left .top-box-left {
  background-color: rgb(75, 81, 102);
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.3);
  width: 230px;
  height: 120px;
  padding: 1.2rem;
  border-radius: 15px;
  position: relative;
}
main .hero-circle .calorie-box-left .top-box-left .num-kg {
  margin-top: -0.5rem;
  color: black;
  text-align: left;
  font-size: 2rem;
  letter-spacing: 2px;
  font-weight: 500;
  font-family: "Outfit", sans-serif;
  letter-spacing: 1px;
}
main .hero-circle .calorie-box-left .top-box-left .calorie-txt {
  display: flex;
  gap: 1rem;
}
main .hero-circle .calorie-box-left .top-box-left .calorie-txt .left .main-txt {
  font-weight: 500;
  color: rgb(0, 0, 0);
  font-size: 1rem;
  text-align: left;
}
main .hero-circle .calorie-box-left .top-box-left .calorie-txt .left .offer-txt {
  width: 65px;
  color: black;
  background-color: rgb(255, 255, 255);
  border-radius: 50px;
  margin-top: 0.5rem;
  font-weight: 600;
  font-size: 0.8rem;
  padding: 0.3rem;
  font-family: "Outfit", sans-serif;
}
main .hero-circle .calorie-box-left .top-box-left .calorie-txt .calorie-dumb-img .dumble-img {
  height: 100px;
  width: 100px;
  -o-object-fit: cover;
     object-fit: cover;
  margin-top: -2rem;
}
main .hero-circle .calorie-box-left .bottom-box-left {
  text-align: left;
  height: 145px;
  width: 160px;
  background-color: rgb(75, 81, 102);
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.3);
  padding: 1.1rem 1.1rem;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  position: absolute;
  top: 120%;
  left: 80%;
  z-index: 1;
  margin-top: 5rem;
}
main .hero-circle .calorie-box-left .bottom-box-left p {
  font-family: "Outfit", sans-serif;
  color: rgba(255, 255, 255, 0.904);
  font-weight: 500;
  font-size: 1.3rem;
}
main .hero-circle .calorie-box-left .bottom-box-left .star {
  color: white;
  font-size: 2rem;
}
main .hero-circle .offer-box-right {
  position: relative;
  left: 65%;
  top: -80%;
}
main .hero-circle .offer-box-right .top-box-right {
  position: relative;
  top: 50%;
  left: 50%;
  display: flex;
  gap: 1.1rem;
  padding: 0.8rem;
  text-align: left;
  height: 120px;
  width: 270px;
  background-color: rgb(75, 81, 102);
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.3);
  border-radius: 30px;
  text-align: left;
}
main .hero-circle .offer-box-right .top-box-right .chatai {
  color: black;
  font-size: 1rem;
  border-radius: 50%;
  background-color: white;
  font-size: 1.5rem;
  height: 40px;
  width: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}
main .hero-circle .offer-box-right .top-box-right .ai-txt .heading {
  color: white;
  font-weight: 600;
  letter-spacing: 1px;
  font-family: "Josefin Sans", sans-serif;
}
main .hero-circle .offer-box-right .top-box-right .ai-txt .tagline {
  color: rgba(255, 255, 255, 0.667);
  font-weight: 500;
  font-size: 1rem;
  margin-top: 5px;
  word-spacing: 2px;
  font-family: "Antic", sans-serif;
}
main .hero-circle .offer-box-right .top-box-right .ai-txt .pricetag {
  color: white;
  font-weight: 600;
  font-size: 1rem;
  margin-top: 0.2rem;
  font-family: "Outfit", sans-serif;
}
main .hero-circle .offer-box-right .top-box-right .ai-txt .pricetag .ai-price {
  font-weight: 300;
  font-size: 0.8rem;
  font-family: "Antic", sans-serif;
}
main .hero-circle .offer-box-right .bottom-box-right {
  display: flex;
  gap: 1rem;
  padding: 0.8rem;
  position: absolute;
  top: 285%;
  right: -10%;
  height: 110px;
  width: 270px;
  border-radius: 20px;
  text-align: left;
  background-color: rgb(75, 81, 102);
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.3);
}
main .hero-circle .offer-box-right .bottom-box-right .barchart {
  font-size: 5rem;
  color: brown;
}
main .hero-circle .offer-box-right .bottom-box-right .power-feature p {
  color: black;
  font-weight: 300;
  font-size: 1.2rem;
  margin-top: 0.5rem;
}
main .hero-circle .offer-box-right .bottom-box-right .power-feature .arrow-txt {
  margin-top: -0.5rem;
}
main .hero-circle .offer-box-right .bottom-box-right .power-feature .arrow-txt .sign {
  font-weight: bolder;
  font-size: 1.8rem;
  font-family: "Outfit", sans-serif;
}
main .hero-circle .offer-box-right .bottom-box-right .power-feature .arrow-txt .percentage {
  font-weight: bold;
  font-size: 2.5rem;
  font-family: "Outfit", sans-serif;
}
main .hero-circle .offer-box-right .bottom-box-right .power-feature .arrow-txt .arrow {
  color: black;
  font-weight: 500;
  font-size: 2.5rem;
  margin-left: 0.5rem;
}/*# sourceMappingURL=style.css.map */